{
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "react",
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "env": {
        "es6": true,
        "browser": true
    },
    "rules": {
        "@typescript-eslint/ban-ts-comment": "off",
        "quotes": ["error", "single", { "allowTemplateLiterals": true }]
    }
}